################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BeginningCSharp/FileContentIndex/43ce8285-aa84-4961-b68d-e4ec067a03db.vsidx
/.vs/BeginningCSharp/FileContentIndex/4822fe87-86c4-424f-989c-053926ce76b0.vsidx
/.vs/BeginningCSharp/FileContentIndex/94f50a05-b4e2-407b-9d86-1acc3730dfd4.vsidx
/.vs/BeginningCSharp/FileContentIndex/d6e456ea-2e23-4829-b64a-5cc6be4f639e.vsidx
/.vs/BeginningCSharp/FileContentIndex/e5cc4bd3-8b82-4128-ab90-b5d96e533277.vsidx
